name: Publish

on:
  push:
    tags:
      - "*"

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Publish package
        run: npm publish

  build:
    runs-on: ubuntu-latest
    name: Build Docker Image
    needs: publish
    steps:
      - uses: actions/checkout@v6
      - name: Get version
        id: get_version
        run: echo "::set-output name=tag::$(echo "${{ github.REF }}" | sed -e 's|^refs/tags/||')"
      - name: Login Docker
        run: docker login --username hestudio --password ${{ secrets.DOCKER_PASSWORD }}
      - run: docker build . --file Dockerfile --tag hestudio/bingwallpaper_get:${{ steps.get_version.outputs.tag }}
      - run: docker build . --file Dockerfile --tag hestudio/bingwallpaper_get
      - run: docker push hestudio/bingwallpaper_get:${{ steps.get_version.outputs.tag }}
      - run: docker push hestudio/bingwallpaper_get
